.git
.github
.idea
.vscode

node_modules
**/node_modules

.pnpm-store
**/.pnpm-store

.turbo
**/.turbo

dist
**/dist

dist-ci
**/dist-ci

.next
**/.next

.expo
**/.expo

coverage
**/coverage

apps/api

.env
**/.env
.env.*
**/.env.*

*.log
*.dump

.DS_Store
Thumbs.db